/* manrope font import  */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";
@plugin "daisyui";

/* @plugin "daisyui/theme" {
  name: "digtools";
  default: true;

  --color-primary: #4f39f6;
  --color-primary-content: #ffffff;

  --color-secondary: #9514fa;
  --color-secondary-content: #ffffff;

  --color-base-100: #ffffff;
  --color-base-200: #f8fafc;
  --color-base-300: #e5e7eb;
  --color-base-content: #1f2937;
} */

body{
  font-family: "Manrope", sans-serif;
}
.gradient-primary {
  background-image: linear-gradient(
    89.15deg,
    #4f39f6 -31.72%,
    #9514fa 99.89%
  );
}
